//admin stylse
.logo img {
  height: 30px;
}
// left sidebar
.brand-subtitle {
  color:#fff !important;
  font-size: 10px !important;
  text-transform: capitalize;
}
.sidebar .nav p {
  color:#fff;
  font-size: 13px;
  font-weight: 100;
}
//footer and copyrights
.footer{
  #copyrights {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .brand-name {
      // borderblue;
      // border-radius:10px;
      background: transparent;
      color: orange;
      padding-right: 10px;
    }
    .brand-name:hover {
      color:wheat;
      transition: all 1s;
    }
    .brand-name::after{
      content: '';
    }
    .footer-logo{
      height: 25px;
    }
    .date {
      color:blue;
      display: flex;
      align-items: center;
      background: transparent;
      color: orange;
      padding: 0px 1px;
    }
  }
}
